.svg-node {
  user-select: none;
  cursor: default;
}

.svg-node rect, .svg-node line {
  stroke-width: 1;
  stroke: black;
}

.svg-node text.title {
  font-family: "Verdana";
}

.svg-node text.io {
  font-size: 12pt;
}

.svg-node .outputs {
  direction: rtl;
}
