.html-node {
  width: 20em;
  position: absolute;
  background-color: white;
  border: 1px solid black;

  .drag-bar {
    height: 1em;
    width: 100%;
    background: black;
  }

  &:focus, &.selected {
    outline: none;
    .node-body {
      stroke: black;
      stroke-width: 2;
    }
  }

  .node-body, .underline {
    stroke-width: 1;
    stroke: #888;
  }

  text.title {
    font-family: "Verdana";
  }

  text.io {
    font-size: 12pt;
  }

  .connections {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .inputs {
  }
  .outputs {
  }

  .io-grab {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: black;
  }
}
