.html-node {
  width: 20em;
  position: absolute;
  background-color: #efefef;
  z-index: 1;
  border: 1px solid black;
  border-radius: 10px;

  .inner {
    padding: 1em;
  }

  .drag-bar {
    border-radius: 10px 10px 0 0;
    height: 1.5em;
    width: 100%;
    background: black;
    display: flex;
    justify-content: flex-end;

    .delete {
      border-top-right-radius: 10px;
      margin: -1px;
      margin-bottom: 0;
      &:hover {
        cursor: pointer;
      }
    }
  }

  &:focus, &.selected {
    outline: none;
    .node-body {
      stroke: black;
      stroke-width: 2;
    }
  }

  .node-body, .underline {
    stroke-width: 1;
    stroke: #888;
  }

  text.title {
    font-family: "Verdana";
  }

  text.io {
    font-size: 12pt;
  }

  .connections {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .io-grab-output {
    left: 1.5em;
    float: right;
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: 100%;
    background-color: #3a79bc;
    position: relative;
  }
}
