.editor {
  display: grid;
  grid-template-rows: auto 1fr 0.5fr;
  height: 110vh;
}

.editor > * {
  background-color: white;
}

.node-inputs {
  background-color: white;
}

.tool-box {
}

.canvas {
  position: relative;
  flex: 1 1 auto;
  overflow-x: auto;
}

.control {
  flex: 1 1 auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 10em;
}

.menu-bar {
  nav {
    display: flex;
    flex-direction: row;
  }
}
