
body {
  margin: 0;
  padding: 0;
  background-color: black;
}

.editor {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.editor > * {
  background-color: white;
}

.node-inputs {
  background-color: white;
}

.tool-box {
}

.canvas {
  position: relative;
  flex: 1 1 auto;
}

.control {
  flex: 1 1 auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.menu-bar {
  nav {
    display: flex;
    flex-direction: row;
  }
}
