body {
  margin: 0;
  padding: 0;
  background-color: black;
}

.editor {
  display: grid;
  grid-gap: 2px;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1em 1fr 0.5fr;
  grid-template-areas:
    "mb mb"
    "ca ca"
    "tb sr";
  height: 100vh;
  overflow: hidden;
}

.editor > * {
  background-color: white;
}

.node-inputs {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.7);
}

.tool-box {
  grid-area: tb;
}

.canvas {
  position: relative;
  grid-area: ca;
}

.svg-renderer {
  grid-area: sr;
  overflow: hidden;
}

.menu-bar {
  grid-area: mb;
  nav {
    display: flex;
    flex-direction: row;
  }
}
