<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>Node Renderer overview</title>
    <link href="static/overview/style.css" rel="stylesheet">
</head>
</head>
<body xmlns:th="http://www.thymeleaf.org">
<h1>Overview</h1>
<a href="/0">Create new image</a>
<div class="images">

    <div th:each="image : ${images}">
        <a th:href="${image}">
            <img th:src="${'/static/thumbnails/thumb-' + image + '.png'}">
        </a>
    </div>
</div>
</body>
</html>
