.color-input-canvas {
  border: 1px solid black;
  background-color: #d3d3d3;
  margin: auto;
  display: flex;
}

.color-input-color {
  width: 100%;
  height: 20px;
}

.slider {
  display: flex;
  margin: 0 1em;
}

.slider label {
  margin-right: 1em;
  font-family: monospace;
  font-size: 17pt;
}

input[type='range'] {
  flex-grow: 1;
}
